@charset "UTF-8";

@import url(./style.css);


/* 設備 森田セクション１
------------------------------- */


/* セクションクラス：ファシリティーヘッダー*/
.facility-header {
    background-image: url(../images/facility2.jpg);
    background-size: cover;
    background-position: center center; 
    height: 679px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .facility-header h1 {
    color: #ffffff;
    font-size: 36px; 
  }
  
  .facility-header {
    margin-bottom: 50px;
  }


  /* クラス：フロアマップ*/
  
  .floor-guide {
      text-align: center;
      margin: 20px 0;
  }
  
  .floor-guide a {
      text-decoration: none;
      color: #0077b6;
      font-weight: bold;
      margin: 0 10px;
  }
  
  .floor1 {
      text-align: center;
      margin: 20px 0;
  }
  
  .main-floor1-image {
      text-align: center;
      margin: 20px 0;
  }
  
  .main-floor1-image img {
      max-width: 100%;
      height: auto;
  }


  /* セクションクラス：セクション */
  
  #facility {
    max-width: 1920px;
  }
  
  #facility main .images {
    margin-bottom: 50px;
  }
  
  #facility main .images .contents-sub-images {
    margin-top: 20px;
  }
  
  #facility main .images .band h2 {
    text-align: center;
  }
  
  #facility main .images .band {
    margin-bottom: 50px;
  }
  
  #facility main .images .moveup .contents-main-images {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
    overflow: hidden; // dummy
  }
  
  #facility main .images .contents-sub-images {
    display: flex;
    justify-content: center;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }  

    .contents-sub-item {
      flex: 1;

      @media screen and (max-width: 700px) {
        margin: 12px auto 0;
        max-width: 375px;
      }  
    }

    .contents-sub-image {
      display: flex;
      box-sizing: border-box;

      @media screen and (max-width: 700px) {
        padding: 0 12px;
        width: 100%;
      }
    }

    .contents-sub-summary {
      margin-top: 12px;
      line-height: 1.8;
      word-break: break-all;
    }

    .contents-sub-title {
      padding: 0 12px;
    }

    .contents-sub-description {
      margin-top: 4px;
      padding: 0 75px;
      @media screen and (max-width: 700px) {
        padding: 0 12px;
      }
    }
  }
  
  #facility main .images .contents-sub-images div {
    text-align: center;
  }
   
