@charset "UTF-8";

@import url(./style.css);


/* よくある質問　森田セクション２ 
-----------------------------------------------------*/





/* ヘッダーのスタイル */
header {
  text-align: center;
  padding: 100px 0;
}

.header-content {
  max-width: 500px; /* 最大幅を設定 */
  margin: 0 auto; /* 中央配置 */
}

.border {
  border-top: 1px solid #333; /* 上部ボーダー */
  border-bottom: 1px solid #333; /* 下部ボーダー */
  padding: 40px 0; /* 上下の余白を追加 */
}




/* 質問大きい項目 
------------------------------------------------------*/
.bigquestions-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2列 */
  grid-template-rows: repeat(3, 100px); /* 4行 */
  gap: 10px; /* グリッド要素間の間隔 */
  max-width: 50%; /* 最大幅を設定 */
  margin: 0 auto; /* 中央配置 */
  margin-bottom: 100px;
}

.bigquestions-item {
  background-color: #F6C7AC;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}


/* アコーディオン */

.accordion h2{
  text-align: center;
  margin-bottom: 10px;
}


.accordion {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  max-width: 1100px;
  position: relative;
  width: 100%;
}
.accordion-title {
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  padding: 10px 20px;
  margin-bottom: 1px;
}
.accordion-content {
  display: none;
  padding: 10px 20px;
}
.accordion-content p {
  font-size: 13px;
  line-height: 1.5;
}
/* タイトルの背景色 */
.accordion-item:nth-of-type(1) .accordion-title {
  background-color: #F6C7AC;
}
.accordion-item:nth-of-type(2) .accordion-title {
  background-color: #F6C7AC;
}
.accordion-item:nth-of-type(3) .accordion-title {
  background-color: #F6C7AC;
}
.accordion-item:nth-of-type(4) .accordion-title {
  background-color: #F6C7AC;
}
.accordion-item:nth-of-type(5) .accordion-title {
  background-color: #F6C7AC;
}
/* コンテンツボックスの枠線 */
.accordion-item:nth-of-type(1) .accordion-content {
  border-bottom: 2px solid #F6C7AC;
  border-left: 2px solid #F6C7AC;
  border-right: 2px solid #F6C7AC;
}
.accordion-item:nth-of-type(2) .accordion-content {
  border-bottom: 2px solid #F6C7AC;
  border-left: 2px solid #F6C7AC;
  border-right: 2px solid #F6C7AC;
}
.accordion-item:nth-of-type(3) .accordion-content {
  border-bottom: 2px solid #F6C7AC;
  border-left: 2px solid #F6C7AC;
  border-right: 2px solid #F6C7AC;
}
/* 矢印 */
.accordion-title {
  position: relative;
}
.accordion-title::after {
  border-right: solid 2px #fff;
  border-top: solid 2px #fff;
  content: "";
  display: block;
  height: 8px;
  position: absolute;
  right: 25px;
  top: 38%;
  transform: rotate(135deg);
  transition: transform .3s ease-in-out, top .3s ease-in-out;
  width: 8px;
}
.accordion-title.open::after {
  top: 45%;
  transform: rotate(-45deg);
}
